*{
    margin: 0;
    padding: 0;
}

body{
    background: url(/bg1.jpg.jpg)no-repeat center center fixed;
    background-size: cover;

}
.container{
/* border: 8px solid rgb(0, 20, 195); */
color: rgb(0, 0, 0);
position: absolute;
top: 18%;
    left: 50%;
}
.container h1{
    display: inline-block;
    font-size: 40px;
    border-bottom: 5px solid rgb(12, 107, 116);
    margin-bottom: 43px;
    padding: 13px 0px;
    font-family: 'Rowdies', cursive;
}
.box{
    width: 100%;
    margin: 22px 0px;
    /* border: 2px solid rgb(12, 107, 116) */
    border-bottom: 2px solid rgb(12, 107, 116) ;
}
.box input{
    background: none;
    width: 75%;
 margin: 2px 0px;
    padding: 5px 0px;
    font-size: 20px;
    font-family: 'Rowdies', cursive;
    border:none;
    outline: none;
    color: white;
}
.btn{
    cursor: pointer;
    outline: none;
    width: 25%;
    margin: 12px 0px;
    padding: 6px;
    border: 2px solid rgb(12, 107, 116);
    border-radius: 10px;
    font-size: 18px;
    background: none;
    font-family: 'Rowdies', cursive;

}
.btn:hover{
    opacity: 0.5;
    color: rgb(0, 71, 98); 

    
}
.box i{
    width: 13%;
    float: left; 
    text-align: center;
}